.container {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 720px;
}

.picture {
  height: 100%;
}
.split {
  text-align: center;
}

.split > h1 {
  font-size: 64px;
}

.split > p {
  font-size: 36px;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }
}
